/* variables */

:root {
    --mauve: #33204c;
    --mauvepale: #7a6e8b;
    --lilas: #c2bcc9;
    --turquoise: #afcbb7/*#9bbea5*/;
    --beige: #dfdad2;
    --white: #ffffff;
  }


/* bases */

* {
    margin: 0;
}
html {
    font-family: Roboto, sans-serif;
}


/* en-tete */

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 10vw;
    padding: 2vw calc(5% + 0.75vw);
    background-color: var(--mauve);
    box-shadow: 0 0 2vw rgba(0, 0, 0, .6);
    color: var(--white);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: baseline;
}
header h1 {
    grid-column: 1 / span 8;
    grid-row: 1;
}
header p {
    grid-column: 1 / span 8;
    grid-row: 2;
}
header .openclose {
    grid-column: 11 / span 2;
    grid-row: 1 / span 2;
}
header + section {
    margin-top: 10vw;
}


/* pied de page */

footer {
    background-color: var(--mauve);
    padding: 2vw;
    text-align: center;
    color: var(--white);
    font-size: 1vw;
}

/* structure */

details > summary {
    cursor: pointer;
}
section {
    position: relative;
    overflow: auto;
}
.mosaic {
    padding: 0 5% 4vw;
}
div {
    width: 48.7%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    display: block;
    position: relative;
    float: left;
    margin: 0.65%;
    padding: 2.5vw;
    overflow-y: hidden;
    border-radius: 2vw;
    background-size: cover;
}
.double {
    width: 98.7%;
    aspect-ratio: 2 / 0.979;
}
.mosaic div > img.centre,
.mosaic div > img.full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}
img.full {
    width: 100% !important;
}

/* couleurs */

.mauve {
    background-color: var(--mauve);
}
.mauvepale {
    background-color: var(--mauvepale);
}
.turquoise {
    background-color: var(--turquoise);
}
.beige {
    background-color: var(--beige);
}
.blanc {
    background-color: var(--white);
}
.carton {
    background-image: url(images/bg_carton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.mauve {
    background-image: url(images/bg_mauve.png);
    background-size: cover;
}
div.mauvepale {
    background-image: url(images/bg_mauve_pale.png);
    background-size: cover;
}
div.turquoise {
    background-image: url(images/bg_turquoise.png);
    background-size: cover;
}

.beige .beige {
    border: solid 1px var(--mauve);
}
/*
.mauve .mauve {
    border: solid 1px var(--mauvepale);
}
.mauvepale .mauvepale {
    border: solid 1px var(--mauve);
}
.turquoise .turquoise {
    border: solid 1px var(--white);
}

*/
div.mauve h3, 
div.mauve h4 {
    color: var(--mauvepale);
}
div.mauvepale h3, 
div.mauvepale h4,
div.beige,
div.blanc,
div.carton {
    color: var(--mauve);
}
div,
div.mauve,
div.mauvepale,
div.turquoise {
    color: var(--white);
}


/* typographie */

button {
    font-size: 1vw;
}
a {
    color: inherit;
    text-decoration: underline;
}
h1, 
h2,
summary,
h3 {
    font-family: RobotoSlab, serif;
}

h1 {
    font-size: 3vw;
    font-weight: normal;
    text-transform: uppercase;
}
h1 strong {
    font-weight: bold;
}
h2, 
summary {
    color: var(--white);
    text-align: left;
    font-size: 2.5vw;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4vw 0 4vw 3.375vw;
    white-space: nowrap;
    overflow: hidden;
}
h3 {
    font-size: 1.75vw;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 2vw;    
}
h4 {
    font-size: 1.1vw;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0.5vw;
}
dl + h4 {
    margin-top: 2vw;
}
h5 {
    margin: 1vw 0;
}
h5, 
p, 
li, 
dt, 
dd {
    font-size: 1.25vw;
}
div p {
    margin: 1vw 0;
}
div ul {
    padding-left: 0;
    margin: 0;
}
div ul > li::marker {
    content: "\2013  ";
}
div ul > li {
    margin-left: 1.1vw;
}


/* grilles */

dl.competences {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0 1vw;
    margin: 0.5vw 0 0;
}
dl.competences > dt {
    grid-column: 1 / span 1;
}
dl.competences > dd {
    grid-column: 2 / span 1;
    font-weight: bold;
    color: var(--lilas);
    text-align: right;
}
dl.competences dd span {
    color: var(--mauve);
}

.col3 {
    display: block;
    float: left;
    width: 28%;
}
.col3 + .col3 {
    margin-left: 8%;
}
