/* variables */

:root {
    --mauve: #33204c;
    --mauvepale: #7a6e8b;
    --lilas: #c2bcc9;
    --turquoise: #afcbb7/*#9bbea5*/;
    --beige: #dfdad2;
    --white: #ffffff;
    --col: 3;
    --divwidth: (100% - (0.75% * 2 * var(--col))) / var(--col);
    --doublewidth: 2 * (var(--divwidth) + 0.75%);
    --ratio: 2.0471; /* 1=0.5 , 2=2.0309 , 3=2.0471 , 4=2.0638 , 5=2.0811  */
    --base: 1vw;
    --baseheader: 1vh;
}
/* info utiles calc() : https://css-tricks.com/a-complete-guide-to-calc-in-css/ */

/* bases */

* {
    margin: 0;
}
html {
    font-family: Roboto, sans-serif;
    background-color: var(--beige);
}


/* en-tete */

header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: calc(10 * var(--baseheader));
    padding: calc(2 * var(--baseheader)) calc(5% + 0.75vw);
    background-color: var(--mauve);
    box-shadow: 0 0 2vh rgba(0, 0, 0, .6);
    transition: top 1s;
}

.left {
    float: left;
}
.right {
    float: right;
    text-align: right;
}

header button {
    cursor: pointer;
    border: solid 1px var(--lilas);
    border-radius: 0.25vw;
    background-color: var(--mauve);
    padding: calc(0.25 * var(--baseheader)) calc(0.5 * var(--baseheader));
    color: var(--lilas);
    font-size: calc(1.25 * var(--baseheader));
}
header button:hover {
    background-color: var(--mauvepale);    
}
header + section {
    margin-top: calc(10 * var(--baseheader));
}


/* pied de page */

footer {
    background-color: var(--mauve);
    padding: 2vw;
    text-align: center;
    color: var(--white);
    font-size: var(--base);
}

/* structure */

details > summary {
    cursor: pointer;
}
section {
    position: relative;
    overflow: auto;
}
.mosaic {
    padding: 0 5% calc(4 * var(--base));
}
div {
    width: calc(var(--divwidth));
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    display: block;
    position: relative;
    float: left;
    margin: 0.75%;
    padding: calc(2.5 * var(--base));
    overflow-y: hidden;
    border-radius: 2vw;
    background-size: cover;
}
.double {
    width: calc(var(--doublewidth));
    aspect-ratio: var(--ratio);
}
.mosaic div > img.centre,
.mosaic div > img.full {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}
img.full {
    width: 100% !important;
}

/* couleurs */

.mauve {
    background-color: var(--mauve);
}
.mauvepale {
    background-color: var(--mauvepale);
}
.turquoise {
    background-color: var(--turquoise);
}
.beige {
    background-color: var(--beige);
}
.blanc {
    background-color: var(--white);
}
.carton {
    background-image: url(images/bg_carton.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.mauve {
    background-image: url(images/bg_mauve.png);
    background-size: cover;
}
div.mauvepale {
    background-image: url(images/bg_mauve_pale.png);
    background-size: cover;
}
div.turquoise {
    background-image: url(images/bg_turquoise.png);
    background-size: cover;
}

.beige .beige {
    border: solid 1px var(--mauve);
}
/*
.mauve .mauve {
    border: solid 1px var(--mauvepale);
}
.mauvepale .mauvepale {
    border: solid 1px var(--mauve);
}
.turquoise .turquoise {
    border: solid 1px var(--white);
}

*/
div.mauve h3, 
div.mauve h4 {
    color: var(--mauvepale);
}
div.mauvepale h3, 
div.mauvepale h4,
div.beige,
div.blanc,
div.carton {
    color: var(--mauve);
}
div,
div.mauve,
div.mauvepale,
div.turquoise {
    color: var(--white);
}


/* typographie */

button {
    font-size: var(--base);
}
a {
    color: inherit;
    text-decoration: underline;
}
h1, 
h2,
summary,
h3 {
    font-family: RobotoSlab, serif;
}

h1 {
    font-size: calc(3 * var(--baseheader));
    font-weight: normal;
    text-transform: uppercase;
    color: var(--white);
}
h1 strong {
    font-weight: bold;
}
header p {
    color: var(--white);
    font-size: calc(1.5 * var(--baseheader));
}
header .right p {
    margin-top: calc(0.75 * var(--baseheader));
    color: var(--lilas);
    font-size: calc(1.25 * var(--baseheader));
}
h2, 
summary {
    color: var(--white);
    text-align: left;
    font-size: calc(2.5 * var(--base));
    font-weight: bold;
    text-transform: uppercase;
    padding: calc(4 * var(--base)) 0 calc(4 * var(--base)) calc(5% + 0.75vw);
    white-space: nowrap;
    overflow: hidden;
}
h3 {
    font-size: calc(1.75 * var(--base));
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 calc(2 * var(--base));    
}
h4 {
    font-size: calc(1.1 * var(--base));
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 calc(0.5 * var(--base));
}
dl + h4 {
    margin-top: calc(2 * var(--base));
}
h5 {
    margin: var(--base) 0;
}
h5, 
p, 
li, 
dt, 
dd {
    font-size: calc(1.25 * var(--base));
}
div p {
    margin: var(--base) 0;
}
div ul {
    padding-left: 0;
    margin: 0;
}
div ul > li::marker {
    content: "\2013  ";
}
div ul > li {
    margin-left: calc(1.1 * var(--base));
}


/* grilles */

dl.competences {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0 var(--base);
    margin: calc(0.5 * var(--base)) 0 0;
}
dl.competences > dt {
    grid-column: 1 / span 1;
}
dl.competences > dd {
    grid-column: 2 / span 1;
    font-weight: bold;
    color: var(--lilas);
    text-align: right;
}
dl.competences dd span {
    color: var(--mauve);
}

.col3 {
    display: block;
    float: left;
    width: 28%;
}
.col3 + .col3 {
    margin-left: 8%;
}
